<configuration scan="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %yellow([%thread]) %highlight(%-5level) %green(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/logging.log</file>
        <append>true</append>
        <encoder>
            <pattern>%date [%-4relative] [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./log/archive/countryPopulation-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>8MB</maxFileSize>
        </rollingPolicy>
    </appender>


    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>